# Backups
*~

# Warptempo Build Artifacts
build/

# Compiled Binaries
parser
rms_splitter

# Bungee Adapter Build Artifacts
adapters/bungee/build/
adapters/bungee/bungee/

# Stretch Adapter Build Artifacts
adapters/stretch/build/
adapters/stretch/signalsmith-*/

# SoundTouch Adapter Build Artifacts
adapters/soundtouch/build/

# MIDI Adapter Build Artifacts
adapters/midi/midifile
adapters/midi/midi_adapter
adapters/midi/build/

# EQ Match Build Artifacts
eqmatch/build/


